
:root {
    --font: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

/* Header styles */
header {
    background-color: #000;
    padding: 10px;
    opacity: 0.8;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    display: block;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffffff;
    color: #000000;
}

#entries {
    padding:20px;
}

.oddEntry {
    background: #ffffff;
    border: #989898;
    border-radius: 5px;
}

.evenEntry {
    background: #989898;
    border: #ffffff;
    border-radius: 5px;
}