html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 100px;
    /* background-color: #280126;
    color: #333; */
}

/* Header styles */
header {
    background-color: #050505;
    padding: 10px;
    opacity: 0.8;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    display: block;
    padding: 5px;
    color: var(--accentColor);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--accentColor2);
    color: var(--accentColor);
}

/* Odd Entry Styles */
.oddEntry {
    background-color: #969696;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

/* Even Entry Styles */
.evenEntry {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #969696;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

#entries {
    background-color: #280126;
    color: #000000;
}

/* Date Styles */
.date {
    color: #555;
    font-style: italic;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
