@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap'); 

@font-face {
    font-family: 'MainFont';
    src: url("/assets/fonts/Rubik-Regular.ttf") format('woff2'), /* Modern format */
         url("/assets/fonts/Rubik-Regular.ttf") format('woff'),   /* Fallback */
         url("/assets/fonts/Rubik-Regular.ttf") format('truetype'); /* Fallback for older browsers */
    font-weight: normal;
    font-style: normal;
}

/* Reset & Global Styles */
:root {
    --bgColor: #280126;
    --bgColor2: #050505;
    --accentColor: #ffffff;
    --accentColor2: #850a7e;
    --font: "MainFont";
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Basic styles for the entire website */
body {
    font-family: var(--font);
    background: var(--bgColor);
    color: var(--accentColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}


/* HR Styles */
hr {
    border: solid 1px var(--accentColor);
    border-color: var(--accentColor);
    max-width: 1100px;
    width: 1100px;
    margin-bottom: 30px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

p, a {
    font-size: 1.25rem;
}

/* Reusable Components */
.link {
    color: var(--accentColor);
    background-color: var(--bgColor);
    border: solid var(--accentColor) 2px;
    border-radius: 12.5px;
    text-align: center;
    padding: 12.5px;
    text-decoration: none;
}

#about .link {
    background-color: var(--accentColor2);
}

.link:hover {
    background-color: var(--accentColor2);
    color: var(--bgColor);
}

#about .link:hover {
    background-color: var(--bgColor);
    color: var(--accentColor);
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor2);
}

.subtle-link {
    color: var(--accentColor);
    text-decoration: none;
}

.subtle-link:hover {
    text-decoration: underline;
    color: var(--accentColor2)
}

/* Containers */
/* Centralized Content Container */
.container {
    /* max-width: 1100px; */
    margin: 0 auto;
    padding: 40px 20px;
}

.horizontal-container-between {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.horizontal-container-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    justify-content: flex-start; 
    gap: 20px; 
}

.vertical-container h1 {
    margin-bottom: 0px;
}

.image-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-text-container img {
    width: 300px;
    height: auto;
    padding: 10px;
}

.text-container {
    text-align: left;
    width: 100%;
    padding: 10px;
}

/* Classes */
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Header styles */
header {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    display: block;
    padding: 15px;
    color: var(--accentColor);
    font-size: 1.25rem;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--accentColor2);
    color: var(--accentColor);
}

/* Footer styles */
footer {
    padding-top: 60px;
    padding-bottom: 15px;
    text-align: center;
}

/* Section Styles */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.banner-image {
    width: 700px;
    height: auto;
}

/* Sticky Navigation Styles */
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: var(--bgColor);
    border-bottom: 2px solid #ddd;
    z-index: 1000;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sticky-nav ul {
    list-style: none;
}

.sticky-nav-tabs li a {
    text-decoration: none;
    color: var(--accentColor);
    font-size: 1.25rem;
    transition: color 0.3s;
    padding: 10px;
}

.sticky-nav-tabs li a:hover {
    background-color: var(--accentColor2);
    color: var(--accentColor);
}

#featured-projects {
    color: var(--accentColor);
}

.featured-projects {
    gap: 20px;
    background-color: var(--bgColor);
    color: var(--accentColor);
    border-radius: 15px;
    box-shadow: 0 0 7px 1px var(--bgColor2);
}

.game {
    background: linear-gradient(to top left, var(--bgColor2), rgba(0, 0, 0, 0));
    max-width: 1100px;
}

.display-image {
    width: 500px;
    max-width: 90%;
    height: auto;
}

.dock-image {
    width: 100px;
    height: auto;
    margin: 5px;
}

.main-image {
    width: 250px;
    max-width: 80%;
    height: auto;
    display: block;    /* Makes the image block-level */
    margin-left: 25%;    /* Centers the image horizontally */
}


.about-container {
    max-width: 900px;
    background-color: var(--accentColor2);
    color: var(--bgColor2);
    border-radius: 20px;
    box-shadow: 0 2px 4px var(--bgColor2);
}

.about-image {
    width: 400px;
    height: auto;
}

#links {
    color: var(--bgColor2);
}