@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --bgColor: #280126;
    --bgColor2: #050505;
    --accentColor: #FFF;
    --accentColor2: #333;
    --font: 'Karla', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

/* Basic styles for the entire website */
body {
    font-family: var(--font);
    background: var(--bgColor2);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--accentColor);
    max-width: 1080px;
    padding-left: 5%;
    padding-right: 5%;
    margin:0 auto;
}

/* Header styles */
header {
    background-color: var(--bgColor2);
    padding: 50px;
    /* box-shadow: 0px 0px 3px 2px var(--accentColor); */
    opacity: 0.8;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    display: block;
    padding: 5px;
    color: var(--accentColor);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--accentColor2);
    color: var(--accentColor);
}

/*General styles */
hr {
    border: solid 1px var(--accentColor);
    border-color: var(--accentColor);
    /* box-shadow: 0px 0px 3px 0px var(--accentColor); */
    width: 100%;
    margin: 5px 0;
} 

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/* Banner styles */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--accentColor);
}

#banner h1 {
    font-size: 3rem;
    margin: 0;
}

#banner p {
    font-size: 1.3rem;
    margin: 10px 0 0 0;
}

#banner img {
    max-width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}

/* About Me section styles */
#about {
    padding: 50px 20px;
    text-align: left;
}

#about h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

#about h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

#about h4 {
    font-size: 1.0rem;
    margin-bottom: 10px;
    text-align: left;
}

/* Portfolio section styles */
#portfolio {
    padding: 50px 20px;
    text-align: left;
}

#portfolio h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

#portfolio h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

#portfolio h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

#portfolio h4 {
    font-size: 1.0rem;
    margin-bottom: 10px;
    text-align: left;
}

.image-text-container {
    display: flex; /* Use flexbox for layout control */
    justify-content: space-around;
    margin-bottom: 30px;
}
  
.image-text-container img {
    width: 300px;
    height: auto;
    padding: 20px;
}

.text-container {
    text-align: left;
    width: 600px;
    padding: 20px;
}

.subtle-link {
    color: var(--accentColor);
    text-decoration: none;
}

.image-text-container .subtle-link:hover {
    text-decoration: underline; /* Underline on hover */
}

.subtle-link:hover {
    text-decoration: underline; /* Underline on hover */
}

.games_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.games_gallery img {
    width: var(--img-size, 200px);
    height: auto;
    object-fit: cover;
}  

.artwork_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    /* justify-items: center; */
    align-items: center;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.artwork_gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 400px;
}

.audio_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.audio_list_item {
    /* display: inline-block; */
    margin-right: 10px;
}

.audio_list_item figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.audio_list_item figcaption {
	order: -1;             /* default value for all flex items is 1 */
	display: flex;
    flex-direction: row;
    justify-content: left;
    width: 280px;
    color: var(--accentColor);
    padding: 10px 5px 10px 5px;
	
}

/* Resume section styles */
#resume {
    padding: 50px 20px;
    text-align: left;
}

#resume h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

#resume h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

#resume h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

#resume h4 {
    font-size: 1.0rem;
    margin-bottom: 10px;
    text-align: left;
}

#resume li {
    padding-bottom: 10px;
}

.tab-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Large drop shadow for the tab list */
}

.tab-item {
    margin: 0;
}

.tab-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow for each tab item */
}

.tab-link:hover {
    background-color: #ddd;
}




/* Links section styles */

#links h2 {
    padding: 50px 20px;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: transparent;
    color: var(--accentColor);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

/* Contact Me section styles */
#contact {
    padding: 50px 20px;
    text-align: center;
}

#contact h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: transparent;
    color: var(--accentColor);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background-color: var(--accentColor);
    color: var(--bgColor2);
}

/* Footer styles */
footer {
    background-color: var(--bgColor2);
    padding: 10px;
    text-align: center;
    color: var(--accentColor);
}

